@model IEnumerable<ShoeServiceModel>

<div class="row mb-5">
    @foreach (var shoe in Model)
    {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img src="@shoe.ImageUrl">
                        </a>
                        <span class="product-discount-label">-23%</span>
                        <ul class="product-links">
                            <li><a asp-controller="Shoes" asp-action="Details" asp-route-id="@shoe.Id" asp-route-information="@shoe.GetInformation()"><i class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@shoe.Id" class="add-to-cart">Add to Cart</a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">@shoe.Brand @shoe.Model</a></h3>
                        <div class="price">$@shoe.Price <span>$68.88</span></div>
                        @if (ViewBag.AllowShoeEdit == true || User.IsAdmin())
                        {
                            <a asp-controller="Shoes" asp-action="Edit" asp-route-id="@shoe.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Shoes" asp-action="Delete" asp-route-id="@shoe.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>

                <div class="mb-5"></div>

            </div>
           

        @*<div class="col-md-3">
            <div class="card mb-3">
                <img class="card-img-top" src="@shoe.ImageUrl" alt="@shoe.Brand @shoe.Model @shoe.Size">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@shoe.Brand @shoe.Model (@shoe.Size)</h5>
                    <a asp-controller="Shoes" asp-action="Details" asp-route-id="@shoe.Id" asp-route-information="@shoe.GetInformation()" class="btn btn-primary">View</a>
                    @if (ViewBag.AllowShoeEdit == true || User.IsAdmin())
                    {
                        <a asp-controller="Shoes" asp-action="Edit" asp-route-id="@shoe.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Shoes" asp-action="Delete" asp-route-id="@shoe.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>*@
    }

    
</div>