@model IEnumerable<ShoeServiceModel>

<div class="row mb-5">
    @foreach (var shoe in Model)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <img class="card-img-top" src="@shoe.ImageUrl" alt="@shoe.Brand @shoe.Model @shoe.Size (@shoe.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@shoe.Brand @shoe.Model (@shoe.Size)</h5>
                    <a asp-controller="Shoes" asp-action="Details" asp-route-id="@shoe.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>