@model AllShoesQueryModel

@{
    ViewData["Title"] = "All Shoes";
}

<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Brand"></label>
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>

                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Nike AirMax">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Date Created</option>
                    <option value="1">Size</option>
                    <option value="2">Brand And Model</option>
                </select>
            </div>
        </div>
    </div>
</form>


@{
    var previosPage = Model.CurrentPage - 1;

    if (previosPage < 1)
    {
        previosPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalShoes / AllShoesQueryModel.ShoesPerPage);




}
<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" 
           asp-controller="Shoes" asp-action="All" 
           asp-route-currentPage="@previosPage"
           asp-route-brand="@Model.Brand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)" 
           asp-controller="Shoes" 
           asp-action="All" 
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-brand="@Model.Brand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.Shoes.Any())
{
    <h2 class="text-center">No shoes found by the given criteria!</h2>
}

<div class="row mb-5">
    @foreach (var shoe in Model.Shoes)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <img class="card-img-top" src="@shoe.ImageUrl" alt="@shoe.Brand @shoe.Model @shoe.Size (@shoe.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@shoe.Brand @shoe.Model (@shoe.Size)</h5>
                    <a asp-controller="Shoes" asp-action="Details" asp-route-id="@shoe.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>
